﻿@model IEnumerable<ProjectSurvey.Models.Question>

@{
	ViewBag.Title = "title";
	Layout = "_Layout";
}

<h2>Get By Survey</h2>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.QuestionText)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Answer)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Survey)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Status)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.QuestionText)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Answer)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Survey.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
