﻿@model ProjectSurvey.Models.Point

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Point</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Survey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Survey.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalScore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
