﻿@model IEnumerable<ProjectSurvey.Models.Point>

@{
	ViewBag.Title = "All Users Answered";
	Layout = "_Layout";
}

<h2>Get By Survey</h2>
<table class="table">
	<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.User.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Survey)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.TotalScore)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CreatedAt)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.UpdatedAt)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Status)
		</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.User.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Survey.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.TotalScore)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CreatedAt)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.UpdatedAt)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Status)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
				<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
				<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
	}
	</tbody>
</table>
