﻿@model IEnumerable<ProjectSurvey.Models.Survey>



@{
    ViewData["Title"] = "Index";
}

<h2>Survey</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
	    <th>
		    @Html.DisplayNameFor(model => model.Id)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Title)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Description)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Image)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.SurveyFor)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.End)
	    </th>
	    <th>
		    @Html.DisplayNameFor(model => model.Status)
	    </th>
	    <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
	        <tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
		        <td>
			        @Html.DisplayFor(modelItem => item.Title)
		        </td>
		        <td>
			        @Html.DisplayFor(modelItem => item.Description)
		        </td>
		        <td>
			        @Html.DisplayFor(modelItem => item.Image)
		        </td>
		        <td>
			        @Html.DisplayFor(modelItem => item.SurveyFor)
		        </td>
		        <td>
			        @Html.DisplayFor(modelItem => item.End)
		        </td>
		        <td>
			        @Html.DisplayFor(modelItem => item.Status)
		        </td>
		        <td>
			        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
			        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
			        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
			        <a asp-controller="Points" asp-action="GetBySurvey"asp-route-id="@item.Id"  >All Users Answered </a> |
			        <a asp-controller="Questions" asp-action="GetBySurveyId"asp-route-id="@item.Id"  >All Questions </a>




		        </td>
	        </tr>
        }
    </tbody>
</table>
