﻿@model ProjectSurvey.Models.Login

@{
	ViewData["Title"] = "Logins";
}

<h2>Login</h2>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Login">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Username" class="control-label"></label>
				<input asp-for="Username" class="form-control" />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Password" class="control-label"></label>
				<input type="password" asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Login" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>



@* @section Scripts { *@
@* 	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
@* } *@
